#output1, #output2, #output3{
  display: none;
}

.img {
  position: center;
  width: 75%;
}

h1 {
  text-align: center;
  font size: 75px;
}

.box1 {
  margin: 12px;
  border: 5px;
  padding: 4px;
  background-color: olive
}

.italic {
  font-style: italic
}

